{% load static %}
                    {% if messages %}
                    	{% for message in messages %}
                    		<div class="alert alert-{{ message.tags }}">
                    			<a href="#" class="close" data-dismiss="alert">&times;</a>
                                {{ message }}
                    		</div>
                    	{% endfor %}
                    {% endif %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Update</button>
</form>

{% if projects %}

    {% for proj in projects %}
        <ul>
            <li>{{proj.project_name}}</li>
        </ul>
    {% endfor %}

{% elif admin %}

<p>{{ admin }}</p>

{% else %}

<p>no projects available to this employee yet</p>

{% endif %}